<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnchorClick</title>
    <link rel="icon" href="/media/images/fav-1.png">
    <link rel="apple-touch-icon" href="/media/images/fav-1.png">
    <style>
        .anchorclick-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .anchorclick-logo {
            width: 300px;
        }
        .anchorclick-description {
            font-size: 1rem;
            font-weight: normal;
        }
    </style>
</head>

<body>



<section class="anchorclick-container">
        <img src="/media/images/companies/anchorclick-logo.svg" alt="AnchorClick Logo" class="anchorclick-logo">
        <p class="anchorclick-description">Anchorclick is no longer accepting new clients.</p>
</section>


</body>
</html>
