---
layout: "base.njk"
title: "Book a Meeting"
---

<section class="book-container">
    <div class="book-content-container">
        <h1 class="book-title">Book a Meeting</h1>
        <form class="book-form" name="book-form" netlify>
            <div class="book-form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Submit</button>
            </div>
            
        </form>
    </div>
</section>
