---
layout: "base.njk"
title: "Companies"
---

<section class="companies-container">
    <div class="companies-content-container">
        <h1 class="companies-title">Notable companies we've worked with</h1>
        <div class="companies-content">
            <p>
                Over the years, we have dedicated significant time to nurturing these companies.
            </p>
            <div class="companies-content-list">
                <div class="companies-content-list-item">
                    <img src="/media/images/companies/krastie-ai-logo.svg" alt="Krastie AI">
                </div>
                <div class="companies-content-list-item">
                    <img src="/media/images/companies/anchorclick-logo.svg" alt="AnchorClick">
                </div>
                <div class="companies-content-list-item">
                    <img src="/media/images/companies/amortec-logo.png" alt="Amortec">
                </div>
            </div>
        </div>
    </div>
</section>


