---
layout: "base.njk"
title: "SaS Ventures"
---

    <header class="header-container">
        <h1 class="header-title" style="max-width: 700px;">We work with innovative and creative businesses</h1>
        <p class="header-tagline">SaS Ventures works with a variety of businesses, from startups to established companies. We are always looking for new partners to work with.

</p>
        <a class="header-cta" href="/book">Contact us</a>
    </header>

    <section class="satisfaction-container">
        <div class="satisfaction-content-container">
        <div class="satisfaction-content-left">
            <h2 class="satisfaction-title">Satisfaction Guaranteed</h2>
            <p class="satisfaction-tagline">SaS Ventures is committed to delivering not only great service, but an experience that you don't want to forget.</p>
            <div class="satisfaction-icons">
                <div class="satisfaction-icon">
                    <div class="satisfaction-icon-image-container">
                        <img src="/media/icons/check.svg" alt="Satisfaction Guaranteed" class="satisfaction-icon-image">
                    </div>
                    <p>Fast turnaround time</p>
                </div>
                <div class="satisfaction-icon">
                    <div class="satisfaction-icon-image-container">
                        <img src="/media/icons/check.svg" alt="Satisfaction Guaranteed" class="satisfaction-icon-image">
                    </div>
                    <p>Easy to get started</p>
                </div>
                
                
            </div>
        </div>
        <div class="satisfaction-content-right">
            <img src="/media/images/satisfaction.png" alt="Satisfaction Guaranteed" class="satisfaction-image">
        </div>
        </div>
    </section>

    <section class="solutions-container">
        <div class="solutions-content-container">
        <h2 class="solutions-title">Our Solutions</h2>
        </div>

        <div class="solutions-content-container">
            
            <div class="solution-vertical">
            <div class="solution-card">
                <div class="solution-card-image-container">
                    <img src="/media/icons/money.svg" alt="Solution 1" class="solution-card-image">
                </div>
                <h3 class="solution-card-title">Buy from us</h3>
                <p class="solution-card-description">Buy from our collection of businesses, each designed to meet diverse business needs.

</p>
            </div>
                <div class="solution-card">
                <div class="solution-card-image-container">
                    <img src="/media/icons/bank.svg" alt="Solution 1" class="solution-card-image">
                </div>
                <h3 class="solution-card-title">Sell to us (coming soon)</h3>
                    <p class="solution-card-description">We buy your products at a competitive rate.</p>
            </div>
            </div>
            
        </div>
    </section>

    <section class="faq-container">
        <h2 class="faq-title">FAQ</h2>
        <div class="faq-content-container full-width">
            <div class="faq-content-left full-width">
                <div class="faq-question-container full-width" onclick="toggleFaqAnswer(this)">
                    <h3 class="faq-question full-width" id="faq-question-1">What is SaS Ventures?</h3>
                    <img src="/media/icons/down-arrow.svg" alt="Arrow Down" class="faq-arrow">
                </div>
                <div class="faq-answer-container full-width">
                    <p class="faq-answer hidden full-width">SaS Ventures is a company that sells SaaS products.</p>
                </div>
            </div>

            <div class="faq-content-left full-width">
                <div class="faq-question-container full-width" onclick="toggleFaqAnswer(this)">
                    <h3 class="faq-question full-width" id="faq-question-2">What payment methods do you accept?</h3>
                    <img src="/media/icons/down-arrow.svg" alt="Arrow Down" class="faq-arrow">
                </div>
                <div class="faq-answer-container full-width">
                    <p class="faq-answer hidden full-width">We accept all major credit cards along with Google Pay, Link, and Apple Pay.</p>
                </div>
            </div>

            <div class="faq-content-left full-width">
                <div class="faq-question-container full-width" onclick="toggleFaqAnswer(this)">
                    <h3 class="faq-question full-width" id="faq-question-3">Can I back out of the deal?</h3>
                    <img src="/media/icons/down-arrow.svg" alt="Arrow Down" class="faq-arrow">
                </div>
                <div class="faq-answer-container full-width">
                    <p class="faq-answer hidden full-width">Yes, you can back out of the deal as long as you haven't paid for the product.</p>
                </div>
            </div>

            <div class="faq-content-left full-width">
                <div class="faq-question-container full-width" onclick="toggleFaqAnswer(this)">
                    <h3 class="faq-question full-width" id="faq-question-4">How long does it take to get my product?</h3>
                    <img src="/media/icons/down-arrow.svg" alt="Arrow Down" class="faq-arrow">
                </div>
                <div class="faq-answer-container full-width">
                    <p class="faq-answer hidden full-width">We will send you the product within 24 hours of purchase.</p>
                </div>
            </div>
            
        </div>
    </section>

    <section class="contact-container">
        <div class="contact-content-container">
            <h2 class="contact-title">Contact us</h2>
            <p class="contact-tagline">We are here to help you. If you have any inquiries, please contact us.</p>
            <a class="contact-cta" href="/book">Contact us</a>
        </div>
    </section>

