---
layout: "base.njk"
title: "Partner with us"
---

<section class="partner-container">
    <div class="partner-content-container">
        <h1 class="partner-title">Partner with us</h1>
        <p class="partner-description">We are always looking for new partners to work with. If you are interested in partnering with us, please contact us.</p>
        <a href="/book" class="partner-button">Book a partner meeting</a>
    </div>
</section>


<section class="partners-container">
    <div class="partners-content-container">
        <h1 class="partners-title">Our Partners</h1>
        <p class="partners-description">We are proud to partner with the following companies and organizations.</p>
        <ul>
            <li><a href="https://krastie.ai" target="_blank">Krastie AI</a></li>
            <li><a href="https://anchorclick.com" target="_blank">Anchorclick</a></li>
            <li>Amortec (inactive)</li>
        </ul>
    </div>
</section>


